{% extends 'eShopApp/base.html' %}
{% block title %} Home Page {% endblock %}
{% block body %}
{% load cartsfilter %}
<div class="container-fluid mt-2">
    <div class="row">
        <div id="products" class="col-lg-8">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.price}}</p>
                        {{product | is_in_cart:request.session.cart}}
                    </div>
                    <div class="card-footer  p-0 no-gutters ">
                        {% if product|is_in_cart:request.session.cart %}
                        
                        <div class="input-group">
                           
                                <input type="submit" class="btn btn-primary btn-number"  value=" - " >
                                  <!-- <span class="glyphicon glyphicon-minus"></span> -->
                                </input>
                            
                            <input type="text"  class="form-control input-number" value="{{product|count_in_cart:request.session.cart}}" min="1" max="100" readonly>
                            
                                <input type="submit" class="btn btn-primary btn-number" value=" + " >
                                    <!-- <span class="glyphicon glyphicon-plus"></span> -->
                                </input>
                            
                        </div>
                        

                        {% else %}
                        <!--a href="#" class="btn btn-primary">Add to Cart</!--a-->
                        <form action="{% url 'eShopApp:home' %}" method="post" class="col-md-12 text-center">
                            <!--"col-md-12 text-center" se form full size hojata hai mtlb add to cart button left side par nhe rahega beech me rahega -->
                            {% csrf_token %}
                            <input hidden type="text" name="product_id" value="{{product.id}}">
                            <input type="submit" class="btn btn-primary " value="Add to Cart">
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action ">All Products</a>
                {% for category in categories %}
                <!-- when we write question mark after slash like this /? this means we are passing data 
                and it won't be redirected to any page -->
                <a href="/?category_id={{category.id}}" class="list-group-item list-group-item-action ">{{category}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}